.body-custom {
    font-family: 'Fira Code', monospace;
    background: linear-gradient(93.08deg,
    rgba(166, 247, 80, 0.14) 19.31%,
    rgba(61, 44, 255, 0) 75.52%),
rgb(24, 28, 35);   
 color: black;
 margin: 2rem;
 padding: 2rem ;

}



.custom-title {
    color: #68b517;

}

h1 { 
    color: #f2f2f2;
    background: linear-gradient( 93.08deg, rgba(166, 247, 80, 0.14) 19.31%, rgba(61, 44, 255, 0) 75.52% ), rgba(24, 28, 35, 0.13);
}

.custom-container {
    background-color:whitesmoke;
    padding: 1rem;
    margin-block: 1rem;
    color: #101420;
    border-radius: 12px;
    margin-block: 1.3rem;
}

tr:nth-child(even) {
    background-color: lightgray;
}


.icon-custom {
    color: #68b517;
    text-decoration: none;
    list-style-type: none;
}

/* Remova o sublinhado em links */
a.icon-custom {
    text-decoration: none;
}

/* Defina uma borda de foco personalizada para ícones */
a.icon-custom:focus {
    outline: none; /* Remove a borda de foco padrão */
    /* Adicione seu estilo de borda de foco personalizada aqui, se necessário */
}